# Demonstration Template

## Boilerplate Setup

In [1]:
import os
from pathlib import Path

from arcgis.features import GeoAccessor
from arcgis.gis import GIS
from dotenv import load_dotenv, find_dotenv
import pandas as pd

In [2]:
bg_pth = r'D:\scratch\geoenrichment-demos\data\interim\interim.gdb\pdx_coffee_study_area_3min'
bg_df = GeoAccessor.from_featureclass(bg_pth).loc[:,['LOCNUM', 'SHAPE']]
bg_df.spatial.set_geometry('SHAPE')

bg_df.info()
bg_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LOCNUM  650 non-null    object
 1   SHAPE   650 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 10.3+ KB

      LOCNUM                                              SHAPE
0  105550909  {"rings": [[[-13659712.491841972, 5689050.6789...
1  105633002  {"rings": [[[-13683812.381583042, 5712092.0429...
2  105759815  {"rings": [[[-13655812.509662066, 5706201.2159...
3  177692910  {"rings": [[[-13651962.527299367, 5690511.2941...
4  180308389  {"rings": [[[-13640787.578395057, 5708949.7851...

In [3]:
load_dotenv(find_dotenv())

gis_local = GIS('pro')

gis_agol = GIS(
    url=os.getenv('ESRI_GIS_URL'), 
    username=os.getenv('ESRI_GIS_USERNAME'),
    password=os.getenv('ESRI_GIS_PASSWORD')
)

## Demonstration

In [4]:
from arcgis.geoenrichment import Country, get_countries

In [5]:
gis = gis_agol

In [6]:
get_countries(gis)

,iso2,iso3,country_name,datasets,default_dataset,alt_name,continent
0,AL,ALB,Albania,[ALB_MBR_2020],ALB_MBR_2020,ALBANIA,Europe
1,DZ,DZA,Algeria,[DZA_MBR_2021],DZA_MBR_2021,ALGERIA,Africa
2,AD,AND,Andorra,[AND_MBR_2020],AND_MBR_2020,ANDORRA,Europe
3,AO,AGO,Angola,[AGO_MBR_2021],AGO_MBR_2021,ANGOLA,Africa
4,AI,AIA,Anguilla,[AIA_MBR_2020],AIA_MBR_2020,ANGUILLA,North America
...,...,...,...,...,...,...,...
149,UZ,UZB,Uzbekistan,[UZB_MBR_2020],UZB_MBR_2020,UZBEKISTAN,Asia
150,VE,VEN,Venezuela,[VEN_MBR_2020],VEN_MBR_2020,"VENEZUELA, BOLIVARIAN REPUBLIC OF",South America
151,VN,VNM,Vietnam,[VNM_MBR_2020],VNM_MBR_2020,VIET NAM,Asia
152,VI,VIR,Virgin Islands,[VIR_MBR_2020],VIR_MBR_2020,UNITED STATES VIRGIN ISLANDS,North America
153,ZM,ZMB,Zambia,[ZMB_MBR_2021],ZMB_MBR_2021,ZAMBIA,Africa

In [7]:
usa = Country('usa', gis=gis)

usa

In [8]:
ev = usa.enrich_variables

ev

,name,alias,data_collection,enrich_name,enrich_field_name,description,vintage,units
0,AGE0_CY,2021 Population Age <1,1yearincrements,1yearincrements.AGE0_CY,F1yearincrements_AGE0_CY,2021 Total Population Age <1 (Esri),2021,count
1,AGE1_CY,2021 Population Age 1,1yearincrements,1yearincrements.AGE1_CY,F1yearincrements_AGE1_CY,2021 Total Population Age 1 (Esri),2021,count
2,AGE2_CY,2021 Population Age 2,1yearincrements,1yearincrements.AGE2_CY,F1yearincrements_AGE2_CY,2021 Total Population Age 2 (Esri),2021,count
3,AGE3_CY,2021 Population Age 3,1yearincrements,1yearincrements.AGE3_CY,F1yearincrements_AGE3_CY,2021 Total Population Age 3 (Esri),2021,count
4,AGE4_CY,2021 Population Age 4,1yearincrements,1yearincrements.AGE4_CY,F1yearincrements_AGE4_CY,2021 Total Population Age 4 (Esri),2021,count
...,...,...,...,...,...,...,...,...
19148,MOEMEDYRMV,2019 Median Year Householder Moved In MOE (ACS...,yearmovedin,yearmovedin.MOEMEDYRMV,yearmovedin_MOEMEDYRMV,2019 Median Year Householder Moved into Unit M...,2015-2019,count
19149,RELMEDYRMV,2019 Median Year Householder Moved In REL (ACS...,yearmovedin,yearmovedin.RELMEDYRMV,yearmovedin_RELMEDYRMV,2019 Median Year Householder Moved into Unit R...,2015-2019,count
19150,ACSOWNER,2019 Owner Households (ACS 5-Yr),yearmovedin,yearmovedin.ACSOWNER,yearmovedin_ACSOWNER,2019 Owner Households (ACS 5-Yr),2015-2019,count
19151,MOEOWNER,2019 Owner Households MOE (ACS 5-Yr),yearmovedin,yearmovedin.MOEOWNER,yearmovedin_MOEOWNER,2019 Owner Households MOE (ACS 5-Yr),2015-2019,count
19152,RELOWNER,2019 Owner Households REL (ACS 5-Yr),yearmovedin,yearmovedin.RELOWNER,yearmovedin_RELOWNER,2019 Owner Households REL (ACS 5-Yr),2015-2019,count

In [9]:
kv = ev[
    (ev.name.str.endswith('_CY'))
    & (ev.data_collection.str.lower().str.startswith('key'))
].reset_index(drop=True)

kv

,name,alias,data_collection,enrich_name,enrich_field_name,description,vintage,units
0,TOTPOP_CY,2021 Total Population,KeyUSFacts,KeyUSFacts.TOTPOP_CY,KeyUSFacts_TOTPOP_CY,2021 Total Population (Esri),2021,count
1,GQPOP_CY,2021 Group Quarters Population,KeyUSFacts,KeyUSFacts.GQPOP_CY,KeyUSFacts_GQPOP_CY,2021 Group Quarters Population (Esri),2021,count
2,DIVINDX_CY,2021 Diversity Index,KeyUSFacts,KeyUSFacts.DIVINDX_CY,KeyUSFacts_DIVINDX_CY,2021 Diversity Index (Esri),2021,count
3,TOTHH_CY,2021 Total Households,KeyUSFacts,KeyUSFacts.TOTHH_CY,KeyUSFacts_TOTHH_CY,2021 Total Households (Esri),2021,count
4,AVGHHSZ_CY,2021 Average Household Size,KeyUSFacts,KeyUSFacts.AVGHHSZ_CY,KeyUSFacts_AVGHHSZ_CY,2021 Average Household Size (Esri),2021,count
5,MEDHINC_CY,2021 Median Household Income,KeyUSFacts,KeyUSFacts.MEDHINC_CY,KeyUSFacts_MEDHINC_CY,2021 Median Household Income (Esri),2021,currency
6,AVGHINC_CY,2021 Average Household Income,KeyUSFacts,KeyUSFacts.AVGHINC_CY,KeyUSFacts_AVGHINC_CY,2021 Average Household Income (Esri),2021,currency
7,PCI_CY,2021 Per Capita Income,KeyUSFacts,KeyUSFacts.PCI_CY,KeyUSFacts_PCI_CY,2021 Per Capita Income (Esri),2021,currency
8,TOTHU_CY,2021 Total Housing Units,KeyUSFacts,KeyUSFacts.TOTHU_CY,KeyUSFacts_TOTHU_CY,2021 Total Housing Units (Esri),2021,count
9,OWNER_CY,2021 Owner Occupied HUs,KeyUSFacts,KeyUSFacts.OWNER_CY,KeyUSFacts_OWNER_CY,2021 Owner Occupied Housing Units (Esri),2021,count
10,RENTER_CY,2021 Renter Occupied HUs,KeyUSFacts,KeyUSFacts.RENTER_CY,KeyUSFacts_RENTER_CY,2021 Renter Occupied Housing Units (Esri),2021,count
11,VACANT_CY,2021 Vacant Housing Units,KeyUSFacts,KeyUSFacts.VACANT_CY,KeyUSFacts_VACANT_CY,2021 Vacant Housing Units (Esri),2021,count
12,MEDVAL_CY,2021 Median Home Value,KeyUSFacts,KeyUSFacts.MEDVAL_CY,KeyUSFacts_MEDVAL_CY,2021 Median Home Value (Esri),2021,currency
13,AVGVAL_CY,2021 Average Home Value,KeyUSFacts,KeyUSFacts.AVGVAL_CY,KeyUSFacts_AVGVAL_CY,2021 Average Home Value (Esri),2021,currency
14,DPOP_CY,2021 Total Daytime Population,KeyUSFacts,KeyUSFacts.DPOP_CY,KeyUSFacts_DPOP_CY,2021 Total Daytime Population (Esri),2021,count
15,DPOPWRK_CY,2021 Daytime Pop: Workers,KeyUSFacts,KeyUSFacts.DPOPWRK_CY,KeyUSFacts_DPOPWRK_CY,2021 Daytime Population: Workers (Esri),2021,count
16,DPOPRES_CY,2021 Daytime Pop: Residents,KeyUSFacts,KeyUSFacts.DPOPRES_CY,KeyUSFacts_DPOPRES_CY,2021 Daytime Population: Residents (Esri),2021,count

In [10]:
e_df = usa.enrich(bg_df, kv)

e_df.info()
e_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   locnum                             650 non-null    object
 1   source_country                     650 non-null    object
 2   aggregation_method                 650 non-null    object
 3   population_to_polygon_size_rating  650 non-null    float64
 4   apportionment_confidence           650 non-null    float64
 5   has_data                           650 non-null    int64
 6   totpop_cy                          650 non-null    int64
 7   gqpop_cy                           650 non-null    int64
 8   divindx_cy                         650 non-null    float64
 9   tothh_cy                           650 non-null    int64
 10  avghhsz_cy                         650 non-null    float64
 11  medhinc_cy                         650 non-null    int64
 12  avghinc_cy                         650 non-null    int64
 13  pci_cy                             650 non-null    int64
 14  tothu_cy                           650 non-null    int64
 15  owner_cy                           650 non-null    int64
 16  renter_cy                          650 non-null    int64
 17  vacant_cy                          650 non-null    int64
 18  medval_cy                          650 non-null    int64
 19  avgval_cy                          650 non-null    int64
 20  dpop_cy                            650 non-null    int64
 21  dpopwrk_cy                         650 non-null    int64
 22  dpopres_cy                         650 non-null    int64
 23  SHAPE                              650 non-null    geometry
dtypes: float64(4), geometry(1), int64(16), object(3)
memory usage: 122.0+ KB

,locnum,source_country,aggregation_method,population_to_polygon_size_rating,apportionment_confidence,has_data,totpop_cy,gqpop_cy,divindx_cy,tothh_cy,...,tothu_cy,owner_cy,renter_cy,vacant_cy,medval_cy,avgval_cy,dpop_cy,dpopwrk_cy,dpopres_cy,SHAPE
0,105550909,US,BlockApportionment:US.BlockGroups;PointsLayer:...,2.191,2.576,1,5443,47,36.4,2391,...,2546,1690,701,155,637854,723476,8430,6007,2423,"{""rings"": [[[-122.70728508062291, 45.427343047..."
1,105633002,US,BlockApportionment:US.BlockGroups;PointsLayer:...,2.191,2.576,1,47,0,61.2,19,...,20,10,9,1,460000,482500,1197,1177,20,"{""rings"": [[[-122.92377807415231, 45.572420302..."
2,105759815,US,BlockApportionment:US.BlockGroups;PointsLayer:...,2.191,2.576,1,11170,1736,46.7,6869,...,7973,1456,5413,1104,626476,698586,29779,24597,5182,"{""rings"": [[[-122.6722509453407, 45.5353649659..."
3,177692910,US,BlockApportionment:US.BlockGroups;PointsLayer:...,2.191,2.576,1,6255,66,47.0,2636,...,2826,1466,1169,190,376166,399727,5677,2756,2921,"{""rings"": [[[-122.6376659650056, 45.4365507371..."
4,180308389,US,BlockApportionment:US.BlockGroups;PointsLayer:...,2.191,2.576,1,13200,432,64.9,5109,...,5369,2949,2160,260,371665,390047,12250,5193,7057,"{""rings"": [[[-122.53727969104438, 45.552657456..."

In [11]:
e_df.loc[:,[c for c in e_df.columns if c in kv.name.str.lower().values]]

,totpop_cy,gqpop_cy,divindx_cy,tothh_cy,avghhsz_cy,medhinc_cy,avghinc_cy,pci_cy,tothu_cy,owner_cy,renter_cy,vacant_cy,medval_cy,avgval_cy,dpop_cy,dpopwrk_cy,dpopres_cy
0,5443,47,36.4,2391,2.26,104273,155998,69215,2546,1690,701,155,637854,723476,8430,6007,2423
1,47,0,61.2,19,2.47,89162,110817,42707,20,10,9,1,460000,482500,1197,1177,20
2,11170,1736,46.7,6869,1.37,49113,89320,55615,7973,1456,5413,1104,626476,698586,29779,24597,5182
3,6255,66,47.0,2636,2.35,51995,67261,28038,2826,1466,1169,190,376166,399727,5677,2756,2921
4,13200,432,64.9,5109,2.50,56206,69408,26777,5369,2949,2160,260,371665,390047,12250,5193,7057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,2619,10,61.9,907,2.88,56985,64923,22876,986,582,325,79,300610,298451,3805,2433,1372
646,3779,274,47.8,2418,1.45,57930,76393,47351,2885,121,2297,467,522917,543388,14134,12724,1410
647,12439,119,70.2,4917,2.51,89556,116526,45907,5102,2487,2429,185,439261,497304,12566,7027,5539
648,2046,0,70.3,1021,2.00,53796,68147,31324,1073,182,840,52,387975,432240,4280,3391,889
649,10659,8,61.0,4120,2.58,126620,156965,58936,4426,2986,1134,306,538664,560888,9533,3632,5901